<h3>Clinics</h3>
<div>
	<form id="doctor" action="/doctors">
		<label for="name">Name</label>
		<input id="name" type="text" name="name">

		<label>Clinic</label>
		<select id="clinic"></select>

		<label>Occupation</label>
		<input id="occupation" type="text" name="occupation">

		<label>Hours</label>
		<input id="hours" type="text" name="hours">

		<label for="picture">Picture</label>
		<input id="picture" type="file" name="picture">

		<input type="submit">
	</form>
	<span id="message"></span>
</div>
<div>
	<ul class="result"></ul>
</div>

<script>
	$.ajax({
		type: 'GET',
		url: 'api/v1/clinics',
		success: function (result) {
			$.each(result.data, function (i, v) {
				$('#clinic')
					.append($('<option></option>')
						.attr('value', v.id)
						.text(v.name));
			});
		}
	})


	$('#doctor').submit(function (event) {
		event.preventDefault();
		$('#message').text('');
		$('.result').empty();

		var formData = new FormData($(this)[0]);

		$.ajax({
			type: 'POST',
			url: 'api/v1/clinics/' + $('#clinic').find(':selected').val() + '/doctors',
			headers: {
				'Authorization': Cookies.get('golden-leaf_token')
			},
			data: formData,
			contentType: false,
			processData: false,
			statusCode: {
				200: function (response) {
					$('#message').text('Success');
					$.each(response.data, function (k, v) {
						$('.result')
							.append($('<li></li>')
								.text(k + ': ' + v));
					});
				},
				400: function (response) {
					$('#message').text(response.responseJSON.message).css({'color':'red'});
				},
				401: function (response) {
					window.location = '/login';
				},
				415: function (response) {
					$('#message').text('Image is required').css({'color':'red'});
				}
			}
		});
	});
</script>
