<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>更年无忧</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body style="background-image: url(images/bg.jpg)">
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered" align="center">
        <br />
        <div class="am-cf">
            <button type="button" class="am-btn am-btn-primary am-round" style="width: 120px;">android下载</button>
        </div>
        <br />
        <div class="am-cf">
            <button type="button" class="am-btn am-btn-primary am-round" style="width: 120px;">ios下载</button>
        </div>
        <div class="am-cf">
           <img src="images/gnwy.png" style="width: 120px;height: 120px;" />
        </div>
    </div>
</div>
</body>
</html>