<h3>Index</h3>
<h4>Doctors</h4>
<ul>
	<li>
		<a href="/users/doctors">Add Doctor Account</a>
	</li>
	<li>
		<a href="/users/doctors/edit">Edit Doctor Account</a>
	</li>
</ul>
<h4>Articles</h4>
<ul>
	<li>
		<a href="/articles">Add Articles</a>
	</li>
	<li>
		<a href="/categories">Add Categories</a>
	</li>
</ul>
<h4>Clinics</h4>
<ul>
	<li>
		<a href="/clinics">Add Clinics</a>
	</li>
	<li>
		<a href="/doctors">Add Clinic Doctors</a>
	</li>
</ul>
